<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/sumanbanerjee1/Code-Mixed-Dialog" data-icon="octicon-star" data-style="mega" data-count-href="/sumanbanerjee1/Code-Mixed-Dialog/stargazers" data-count-api="/repos/sumanbanerjee1/Code-Mixed-Dialog#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star sumanbanerjee1/Code-Mixed-Dialog on GitHub">Star</a>
